.container_layout {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  @media (max-width: 500px) {
    display: flex;

    padding: 1rem;



  }
  nav{
    padding-top: 2rem;
    @media (max-width: 500px) {
        display: none;
    }
    }

  main {
    flex: 1;

    display: block;

    height: 100vh;
    @media (max-width: 500px) {
        width: 100%;
        height: 100%;

        margin: 0;
        padding: 0;

      }
      overflow-y: auto;
      overflow-x: hidden;

      padding: 0 3rem;

      padding-bottom: 1rem;

    header {
      display: flex;
      
      width: 100vw;
      align-items: center;
      justify-content: space-between;

      position: sticky;
      z-index: 11;

      width: 100%;

      top: 0px;

      padding: 2rem 0.4rem .5rem;

      background-color: var(--bg);

      @media (max-width: 700px) {
        top: 0;
        left: 0;
        right: 0;

        padding: 2rem 0 0.6rem;

      }
      @media (max-width: 500px) {
        top: 0;
        left: 0;
        right: 0;


      }

      h2 {
        font-weight: 600;
        font-size: 2rem;
        color: var(--black);
      }

      svg{
        font-size: 3rem;
        color: var(--primaryColor);
      }
    }
  }

  .box_list {

    flex: 1;
    display: flex;
    flex-direction: column;

    margin: 0 0.5rem;
    min-height: 70vh;
    padding: 0 2rem;
    border-radius: 10px;

    background-color: var(--white);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);

    th{
      &:nth-last-child(-n+2) {
        text-align: center;
      }
    }
    td{
      &:nth-last-child(-n+2) {
        text-align: center;
        margin: 0 auto;

      }
    }

    @media (max-width: 768px) {
        padding: 0rem;
        overflow: auto;
        display: flex;
        width: 100%;
    }
    @media (max-width: 500px) {
        padding: 0;
        margin: 0;
        display: grid;
        
        width: 100%;
    }
  }
}

.nav_mobile{
  display: none;
  position: fixed;

  left: 30px;
  bottom: 5.6rem;

  button:first-child{
  width: 50px;
  height: 50px;

  position: fixed;

  bottom: 2rem;
  left: 25px;

  border: 0;
  border-radius: 50%;
  background-color: var(--primary);

  color: var(--white);
  }
  a{
    padding: 0;
    margin: 0;
  }
  @media (max-width: 500px) {
    padding: 0;

    z-index: 1111;
    width: 40px;

    nav{
      display: inline;
      width: 50px;
    }
    display: flex;
}
}
