.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem 0;
  height: 100%;

}
.header{
  padding: 1rem 0;

}
.graphs_patient{
  display: flex;
 flex-direction: row;
 gap: 1.3rem;


}
.graph_donut_patient{
 display: flex;
 flex-direction: column;
 gap: 10px;
 flex: 1;

}
.graph_line_patient{
  display: flex;
  flex: 2;


}
.amount{
  display: flex;
}