.container{
  display: flex;
  flex-direction: column;
  width: 100%;

  height: 100%;

}

.graphs_patient{
  display: flex;
 flex-direction: row;
 gap: 1.3rem;
 justify-content: center;
 padding: 1rem;
 @media (max-width: 768px) {
  flex-direction: column;
  padding: 0;
}


}
.graph_donut_patient{
 display: flex;
 flex-direction: column;
 gap: 10px;
 flex: 1;

}
.graph_line_patient{
  display: flex;
  flex: 2;

  @media (max-width: 768px) {
    display: block;
  }
}
.amount{
  display: flex;
}
.loading{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}