.header_modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  padding: 10px;
  margin-bottom: 10px;

  h2 {
    color: var(--gray-650);
  }
  p{
    text-align: center;
    margin-top: 2rem;
    color: var(--primaryColor);
    font-size: 1rem;
  }
}

.form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  button{
    margin: 15px 0;
  }



}
.alert{

  width: 100%;
  background-color: rgb(255, 232, 232);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  color: red;
  border-radius: 10px;
}

.wrapper_input{
  width: 100%;
  display: flex;
  align-items: center;
  button{
   width: 2.5rem;
   height: 2.5rem;
    border-radius: 50%;
    background-color: transparent;
    margin-left: 10px;
    border: 0;
    display: flex;
  align-items: center;
  svg{
    color: red;
  }
  justify-content: center;
  }
}
.header{
  position: sticky;
  top: 4rem;
  background-color: rgb(255, 255, 255);
  button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: 0;
  }
}